{% extends '::base.html.twig' %}

{% block body %}
<h1>Customer list</h1>

    {% for customer in customers %}
        <li><a href="{{ path('customer', {'id':customer.id }) }}">{{ customer.name|e }}</a></li>
    {% endfor %}
{% endblock %}